# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# Output of 'npm run build'
dist/

# dotenv environment variables file
.env

# IDE files
.vscode/
.idea/

# macOS files
.DS_Store

# Windows thumbnail cache files
Thumbs.db